// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

/* SCSS HEX */
$cc-linen: #f7e7deff;
$cc-unbleached-silk: #fbdac8ff;
$cc-apricot: #ffcdb2ff;
$cc-melon: #ffb4a2ff;
$cc-pastel-pink: #e5989bff;
$cc-english-lavender: #b5838dff;
$cc-lavender: #6d6875ff;
$cc-liver: #504c56ff;
$cc-jet: #323036ff;

$gradient: linear-gradient(to bottom, #ffcdb2, #fbc3ac, #f7b9a7, #f2afa2, #eda59f, #e19c9e, #d5939d, #c78b9b, #af8297, #977a8f, #807184, #6d6875);
// 2. Include any default variable overrides here

.bg-gradient{
    background-image: $gradient;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-cc-linen{
    background-color: $cc-linen;
}

.rounded-5{
    border-radius: 1em;
}

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";

// 5. Add additional custom code here
