// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

/* SCSS HEX */
$cc-linen: #f7e7deff;
$cc-unbleached-silk: #fbdac8ff;
$cc-apricot: #ffcdb2ff;
$cc-melon: #ffb4a2ff;
$cc-pastel-pink: #e5989bff;
$cc-english-lavender: #b5838dff;
$cc-lavender: #6d6875ff;
$cc-liver: #504c56ff;
$cc-jet: #323036ff;

$gradient: linear-gradient(to bottom, #ffcdb2, #fbc3ac, #f7b9a7, #f2afa2, #eda59f, #e19c9e, #d5939d, #c78b9b, #af8297, #977a8f, #807184, #6d6875);

$emSize : 2rem;
// 2. Include any default variable overrides here

.bg-gradient{
    background-image: $gradient;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-main-body-bg{
    background-color: $cc-jet !important;
}
.bg-seco-body-bg{
    background-color: $cc-lavender !important;
}

.txt-color-main{
    color: $cc-unbleached-silk !important;
}


// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";

// 5. Add additional custom code here
.rounded-5{
    border-radius: 1em; 
}

.rounded-end-5{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: $emSize !important;
    border-top-right-radius: $emSize !important;
}
.rounded-start-5{
    border-bottom-left-radius: $emSize !important;
    border-top-left-radius: $emSize !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.rounded-top-5{
    border-top-left-radius: $emSize !important;
    border-top-right-radius: $emSize !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.no-rount-top{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

image{
}
