// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

/* SCSS HEX */
$cc-black: #000000ff;
$cc-white: #ffffffff;
$cc-davys-grey: #494949ff;
$cc-sonic-silver: #7c7a7a7f;
$cc-g1: #eeaecaff;
$cc-g2: #94bbe9ff;
$emSize : 2rem;

// 2. Include any default variable overrides here
$gradient: linear-gradient(25deg,$cc-g2,$cc-g1);




// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";

// 5. Add additional custom code here

.bg-gradient{
    background-image: $gradient;
    
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-main-body{
    background-color: $cc-white !important;
}
.bg-seco-body{
    background-color: $cc-sonic-silver !important;
}

.txt-color-main{
    color: $cc-black !important;
}

.border-bottom-5{
    border-bottom-left-radius : $emSize !important; 
    border-bottom-right-radius : $emSize !important; 
    border-top-left-radius: 0em !important;
    border-top-right-radius: 0em !important;
}
.border-top-5{
    border-bottom-left-radius : 0 !important; 
    border-bottom-right-radius : 0 !important; 
    border-top-left-radius: $emSize !important;
    border-top-right-radius: $emSize !important;
}

.border-all-5{
    border-bottom-left-radius : $emSize !important; 
    border-bottom-right-radius : $emSize !important; 
    border-top-left-radius: $emSize !important;
    border-top-right-radius: $emSize !important;
}

.image-stretch{
    width:100% !important;
    max-height:100% !important;
}